# Flutter
.dart_tool/
.build/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.pubspec.lock

# Environment variables
.env
.env.*

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

# iOS / macOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
macos/Pods/

# Logs
*.log

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

