# Node backend
node_modules
.env
.env.local
.env.development
.env.production

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code (optional)
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio build folders
android/app/debug
android/app/profile
android/app/release
# Flutter build
build/

# Backend accidental flutter folders
velorex_admin_backend/ios/
velorex_admin_backend/lib/
velorex_admin_backend/linux/
velorex_admin_backend/macos/
velorex_admin_backend/web/

# Local test files
velorex_admin_backend/test-db.js
velorex_admin_backend/{
